{
  "openapi": "3.1.0",
  "info": {
    "title": "MyQuant Editorial Public API",
    "version": "1.1.0",
    "description": "Read-only discovery for the finite editorial briefing. Product, API, and MCP versions are independent.",
    "x-product-version": "0.1.0",
    "x-api-version": "myquant.editorial/1.1",
    "x-mcp-version": "2.1.0"
  },
  "servers": [{ "url": "https://myquantdoesntspeakenglish.com" }],
  "paths": {
    "/api/v1/capabilities": {
      "get": {
        "operationId": "getEditorialCapabilities",
        "summary": "List public product, API, MCP, and evidence boundaries",
        "responses": {
          "200": {
            "description": "Public capability envelope",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublicEnvelope" }
              }
            }
          }
        }
      },
      "head": {
        "operationId": "headEditorialCapabilities",
        "summary": "Check capability-route availability",
        "responses": { "200": { "description": "Available" } }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "getEditorialHealth",
        "summary": "Return a non-sensitive compatibility and deployed-source receipt",
        "responses": {
          "200": {
            "description": "Health envelope",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublicEnvelope" }
              }
            }
          }
        }
      },
      "head": {
        "operationId": "headEditorialHealth",
        "summary": "Check health-route availability",
        "responses": { "200": { "description": "Available" } }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicEnvelope": {
        "type": "object",
        "required": ["ok", "resource", "data"],
        "properties": {
          "ok": { "const": true },
          "resource": { "type": "string", "enum": ["capabilities", "health"] },
          "data": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": false
      }
    }
  }
}
